.course{
    width: 90%;
    margin: auto;
}
.offer{
    margin-top: 150px;
    background-color: rgba(14, 14, 110, 0.034);
    max-width: max-content;
    text-align: center;
    backdrop-filter: blur(10px);
   color: white;
   border: 2px solid rgba(34, 7, 7, 0.397);
   border-radius: 10px;
   border-radius: 20px;
}
.offer img{
    border-radius: 15px 15px 0px 0px;
}
.offer:hover{
    scale: 1.1;
    transition: 1s;
}
.offer h3 p{
    background: transparent;
    backdrop-filter: blur(10px);
}
.offer h3{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}
.offer p{
    font-size: 15px;
    margin-bottom: 21px;
    color: #555;
}
.offer button{
    padding: 15px 40px;
    font-size: 15px;
    border: none;
    outline: none;
    transition: 0.5s;
    color: #fff;
    border-radius: 2px;
    background-color: orangered;
    margin-bottom: 50px;
}
.course-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
@media screen  and (max-width:700px){
    .course-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
}